## VIRTUAL ENVIRONMENT
brew_viz_venv/

## ENVIRONMENT VARIABLES
.env

## OPTIMIZED FILES
__pycache__/
*.py[cod]

## VSCODE FILES
.vscode/

## RETRIEVED & PROCESSED DATA (LARGE!)
/data/processed/
/data/retrieved/